<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lab Test 2 - Vishwa Mavani - 101285743
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div id="container">
    <p>Lat: {{lat}} Long: {{long}} Time: {{time}}</p>
  </div> -->

  <ion-list>
    <ion-list-header>
      Locations
    </ion-list-header>
    <ion-item lines="inset" *ngFor="let data of Data">
      <ion-label>
        <h5>Timestamp: {{data.locationtime}}</h5>
        <h5>Latitude: {{data.latitude}}</h5>
        <h5>Longitude: {{data.longitude}}</h5>
      </ion-label>
      <div class="item-note" item-end>    
        <ion-icon name="trash" style="zoom:2.0" (click)="deleteLocation(data.locationtime)"></ion-icon>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
